/* home.component.css */
body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?cs=srgb&dl=pexels-josh-hild-2422461.jpg&fm=jpg");
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    text-align: center;
    color: rgb(38, 67, 67);
    font-family: 'Arial', sans-serif;
    padding: 40px;
    
  }
  
  .home-content {
    background-size: cover;
    background: rgba(65, 117, 170, 0.5); /* Dark background for readability */
    padding: -120px 750px; /* Adjusted padding for rectangular box */
    border-radius: 15px; /* Slightly rounded corners */
    box-shadow: 0 4px 8px rgba(34, 130, 178, 0.75);
    margin-top: -520px;
    margin-left: 800px;
    width: 1800px; /* Set width for rectangle shape */
    height: 200px; /* Let the height be adjusted based on content */
    text-align: center; /* Ensure text is centered */
}
  .home-content h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
  }
  
  .home-content p {
    font-size: 1.3em;
  }
  
  .stylish-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem; /* Reduced font size */
    font-weight: 600;
    color: #1c1919;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.stylish-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* Reduced font size */
    font-weight: 400;
    color: #151313;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.travel-poem {
  font-style: italic;
  margin-top: -80px;
  text-align: center;
  max-width: 1000px; /* Adjust the width to control how the poem wraps */
  margin-left: 30px; /* Center-align horizontally */
  margin-right: -50px; /* Center-align horizontally */
  white-space: normal; /* Allow line breaks and prevent text from going outside the container */
  line-height: 1.9; /* Adjust line height for better spacing between lines */
  font-weight: bold;
}
