<!-- home.component.html -->
<div class="home-container">
  <div class="home-content">
      <h2 class="stylish-heading">Welcome to the TAF Flight Booking App</h2>
      <p class="stylish-text">Explore available flights and book your next journey!</p>
    </div>
      <p class="travel-poem">
          "Wings of dreams, take flight so high,  
          Chasing sunsets in the endless sky.  
          New horizons, stories untold,  
          Adventures waiting, brave and bold."
      </p>

</div>
